{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/gallery.scss" "dest" "css/gallery.css") }}
{{ end }}

{{ define "main" }}
    
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2 2006" }}    

<div id="columns" class="post-list__container">
  {{ range $i, $sequence :=  (seq ( .Params.imagecount )) }}
    <div class="item">
      <img class="thumbnail" src="./images/{{ $sequence }}.jpg"/>
      <div class="details">
        <img src="./images/{{ $sequence }}.jpg"/>
      </div>
    </div>
  {{ end }}
</div>

<script>
  document.querySelectorAll("#columns > .item").forEach(img => {
    img.addEventListener("click", (e) => {
      img.classList.toggle('focused');
    })
  });
</script>
{{ end }}
